.Card {
    float:left;
    background-color: var(--dark-grey);
    width:300px;
    height: 300px;
    border-radius: 5px;
    margin: 70px 30px 120px 30px;
}

.Content {
    background-color: var(--black);
    height: 80%;
    text-align: left;
    padding-left:30px;
}

.Thumbnail {
    width:300px;
    height:300px;
    object-fit: cover;
    border-radius: 5px;
}

.publicationDate {
    opacity: 70%;
}

.play-pauseButton {
    width:40px;
    height: 40px;
    align-self: center;
}