@font-face {
	font-family: Zen-Kurenaido;
	src: url(/src/styles/fonts/ZenKurenaido-Regular.ttf);
}

:root {
  --white: #F1F1F1;
  --light-grey: #3c3c3c;
  --grey: #1c1c1c;
  --dark-grey: #0c0c0c;
  --black: #080808;
}

.bottomDiv {
  height: 100px; 
  width:500px;
  margin: 0;
  clear: both;
  width:100%;
}

body {
  background-color: var(--black);
  color:var(--white);
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2.5px;  
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.PageTitle {
	font-family: Zen-Kurenaido;
  font-size: 64px;
  word-spacing: 5px;
  letter-spacing: 2.5px;  
}

.CardsContainer {
  justify-content:space-around;
  height: 100%;
  align-items: center;
  align-self: center;
  width: 100%;
}

#BarAudioPlayer {
  position: fixed;
  background-color: var(--dark-grey);
  color:var(--white);
  bottom: 0px;
  left:0px;
  width:100%;
  height: 7%;
  visibility: hidden;
  padding: 10px;
}

#BarAudioPlayer .div {
  width: 100%;
  height: 100%;
}